<blockquote>
    <p><%= simple_format auto_link(h(comment.body)) %></p>
    <p><%= link_to 'Edit', [:edit, comment] %> | 
        <%= link_to 'Destroy', [comment], :confirm => 'Are you sure?', :method => :delete %>
    </p>
</blockquote>