<h4 class="comment">
  <% if @comments.empty? %>
  New comment
  <% else %>
  Comments (last five)
  <% end %>
</h4>
<% for comment in @comments %>
  <%= render :partial => 'comment' %>
<% end %>

<blockquote>
  <%= render :partial => 'inline_new' %>
</blockquote>