<h4 class="comment">
  <% if @comments.empty? %>
  New comment
  <% else %>
  Comments (last five)
  <% end %>
</h4>
<% for comment in @comments %>
  <blockquote class="comment">
    <p><%= simple_format auto_link(h(comment.body)) %></p>
    <h5>Posted by DummyUser <%= comment.created_at.to_date %></h5>
  </blockquote>
<% end %>

<blockquote>
  <%= render :partial => 'inline_new' %>
</blockquote>