<h1>Editing comment</h1>

<%= render :partial => @comment, :locals => { :button_name => "Update" } %>

<%= link_to 'Show', [@network, @comment] %> |
<%= link_to 'Back', network_comments_path(@network) %>
