<div class="corner-page-top"></div>        
<div class="navbar">	
<!-- Navigation item -->
<ul>
<li><a href="#">User<!--[if IE 7]><!--></a><!--<![endif]-->
	<!--[if lte IE 6]><table><tr><td><![endif]-->
		<ul>
			<li><a href="#">login</a></li>
			<li><a href="#">register</a></li>
			<li><a href="#">profile</a></li>
		</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>
</ul>     
<!-- Navigation item -->
<ul>
<li><a href="#">Networks<!--[if IE 7]><!--></a><!--<![endif]-->
	<!--[if lte IE 6]><table><tr><td><![endif]-->
		<ul>
			<li><a href="#">new</a></li>
			<li><a href="#">find</a></li>
			<li><a href="#">my networks</a></li>
			<li><a href="#">my favourites</a></li>
		</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>
</ul>     

<!-- Navigation item -->
<ul>
<li><a href="#">Help<!--[if IE 7]><!--></a><!--<![endif]-->
	<!--[if lte IE 6]><table><tr><td><![endif]-->
		<ul>
			<li><a href="#">Overview</a></li>
			<li><a href="#">Tutorial</a></li>
			<li><a href="#">Help</a></li>
		</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>
</ul>

<!-- Navigation item -->
<ul>
<li><a href="#">Toolbox<!--[if IE 7]><!--></a><!--<![endif]-->
	<!--[if lte IE 6]><table><tr><td><![endif]-->
		<ul>
			<li><a href="#">tool 1</a></li>
			<li><a href="#">tool 2</a></li>
			<li><a href="#">tool 3</a></li>
			<li><a href="#">tool 4</a></li>
		</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>
</ul>     
</div>