<!-- NEWS SUBCONTENT CELL -->
<div class="corner-subcontent-top"></div>                        
<div class="subcontent-box">
  <h1 class="webtemplate">News</h1>                  
  <h2>RSS Feed</h2> 
  <p class="demo">Here comes the content. <br />See "Content Toolbox" on how to fill up content.</p>            
  <h2>Last added</h2> 
  <p class="demo">Here comes the content. <br />See "Content Toolbox" on how to fill up content.</p>            
</div>  
<div class="corner-subcontent-bottom"></div>