<!-- C.2 SUBCONTENT -->
<div class="subcontent">
   <!-- LOGIN SUBCONTENT CELL -->
   <div class="corner-subcontent-top"></div>                        
   <div class="subcontent-box">
     <h1 class="login">Login</h1>
      <div class="loginform">
       <form method="post" action="index.html"> 
         <p><input type="hidden" name="rememberme" value="0" /></p>
         <fieldset>
           <p>
           	<label for="username_4" class="top">User:</label><br />
             <input type="text" name="username_4" id="username_4" tabindex="1" class="field" value="" />
           </p>
         	<p>
         		<label for="password_4" class="top">Password:</label><br />
             <input type="password" name="password_4" id="password_4" tabindex="2" class="field" value="" />
            </p>
         	<p>
         		<input type="checkbox" name="checkbox_4" id="checkbox_4" class="checkbox" tabindex="3" size="1" value="" />
         		<label for="checkbox_4" class="right">Remember me</label>
         	</p>
         <p><input type="submit" name="cmdweblogin" class="button" value="LOGIN"  /></p>
         <p><a href="#" id="forgotpsswd_4">Password forgotten?</a></p>
       </fieldset>
       </form>
     </div>
   </div>  
   <div class="corner-subcontent-bottom"></div>                                                        
	
	 <!-- SEARCH SUBCONTENT CELL -->
	 <div id="ajaxSearch">
 	 	<%= render :partial => "search" %>
	 </div>
	
   <!-- NEWS SUBCONTENT CELL -->
   <div class="corner-subcontent-top"></div>                        
   <div class="subcontent-box">
     <h1 class="webtemplate">News</h1>                  
     <h2>RSS Feed</h2> 
     <p class="demo">Here comes the content. <br />See "Content Toolbox" on how to fill up content.</p>            
     <h2>Last added</h2> 
     <p class="demo">Here comes the content. <br />See "Content Toolbox" on how to fill up content.</p>            
   </div>  
   <div class="corner-subcontent-bottom"></div> 
   
   <!-- NEWS SUBCONTENT CELL -->
   <div class="corner-subcontent-top"></div>                        
   <div class="subcontent-box">
     <h1 class="contact">Contact</h1>                  
     <h2>Contact Form</h2> 
<div class="contactform">
	<form method="post" action="index.html">
		<fieldset><legend>&nbsp;CONTACT DETAILS&nbsp;</legend>
			<p><label for="contact_title_4" class="left">Title:</label>
				<select name="contact_title" id="contact_title_4" class="combo">
					<option value="choose"> Select... </option>
					<option value="mrs"> Mrs. </option>
					<option value="mr"> Mr. </option>
					<option value="dr"> Dr. </option></select></p>
			<p><label for="contact_firstname_4" class="left">First name:</label>
				<input type="text" name="contact_firstname" id="contact_firstname_4" class="field" value="" tabindex="1" /></p>
			<p><label for="contact_familyname_4" class="left">Family name:</label>
				<input type="text" name="contact_familyname" id="contact_familyname_4" class="field" value="" tabindex="1" /></p>
			<p><label for="contact_street_4" class="left">Street:</label>
				<input type="text" name="contact_street" id="contact_street_4" class="field" value="" tabindex="1" /></p>
			<p><label for="contact_postalcode_4" class="left">Postal code:</label>
				<input type="text" name="contact_postalcode" id="contact_postalcode_4" class="field" value="" tabindex="1" /></p>
			<p><label for="contact_city_4" class="left">City:</label>
				<input type="text" name="contact_city" id="contact_city_4" class="field" value="" tabindex="1" /></p>
			<p><label for="contact_country_4" class="left">Country:</label>
				<select name="contact_country" id="contact_country_4" class="combo">
					<option value="choose"> Select... </option>
					<option value="Sweden"> Sweden </option>
					<option value="United States"> United States </option>
					<option value="China"> China </option></select></p>
			<p><label for="contact_phone_4" class="left">Phone:</label>
				<input type="text" name="contact_phone" id="contact_phone_4" class="field" value="" tabindex="2" /></p>
			<p><label for="contact_email_4" class="left">Email:</label>
			<input type="text" name="contact_email" id="contact_email_4" class="field" value="" tabindex="2" /></p>
			<p><label for="contact_url_4" class="left">Website:</label>
				<input type="text" name="contact_url" id="contact_url_4" class="field" value="" tabindex="3" /></p>
		</fieldset>
		<fieldset><legend>&nbsp;MESSAGE DETAILS&nbsp;</legend>
			<p><label for="contact_subject_4" class="left">Subject:</label>
				<input type="text" name="contact_subject" id="contact_subject_4" class="field" value="" tabindex="4" /></p>
			<p><label for="contact_urgency_4" class="left">Please reply:</label>
				<select name="contact_urgency" id="contact_urgency_4" class="combo">
					<option value="choose"> Select... </option>
					<option value="today"> Latest today </option>
					<option value="tomorrow"> Latest tomorrow </option>
					<option value="threedays"> Latest in 3 days </option>
					<option value="week"> Latest in a week </option>
					<option value="month"> Latest in a month </option></select></p>
			<p><label for="contact_message_4" class="left">Message:</label>
				<textarea name="contact_message" id="contact_message_4" cols="45" rows="10" tabindex="5"></textarea></p>
			<p><input type="submit" name="submit" id="submit_4" class="button" value="Send message" tabindex="6" /></p>
		</fieldset>
	</form>
</div>  
   </div>  
	<div class="corner-subcontent-bottom"></div> 
</div>