<div id="content">
  <% for network in @networks %>
    <%= render(:partial => network) %>
 <% end %>
</div>

<div id="right">
  <dl id="subnav">
    <dt>ToolBox</dt>
    <dd><%= link_to 'Upload network', new_network_path %></dd>
  </dl>
</div>

