/*Defaults Styling*/
.niceform form
{
	font: 12px/17px Arial, Helvetica, sans-serif;
	color: #333;
	background: #FFF;
	padding: 40px 20px 20px 20px;
}

.niceform td
{
	border: 0px #666661 solid;
	padding-right: 5px;
}



.niceform fieldset
{
	background: #f2f2e6;
	padding: 10px;
	margin-bottom: 36px;
	width: 600px;
	border: 1px #666661 solid;
}

.niceform fieldset.child
{
	background: #f2f2e6;
	padding: 12px 2px 2px 12px;
	border: 1px #666661 solid;
	margin: 5px 15px 10px 15px;
}


.niceform input, textarea, select
{
	font: 12px/12px Arial, Helvetica, sans-serif;
	padding: 0;
}

.niceform fieldset.action
{
	background: #9da2a6;
	border-color: #666661;
	margin-top: -20px;
}

.niceform legend
{
	background: #666661;
	color: #CCC;
	font: 17px/21px Calibri, Arial, Helvetica, sans-serif;
	padding: 0 10px;
	margin: -26px 0 0 -11px;
	font-weight: bold;
	border: 1px #666661 solid;
}

.niceform legend.child
{
	background: none;
	color: #666661;
	font: 14px/16px Calibri, Arial, Helvetica, sans-serif;
	padding: 4px;
	margin: 0px 0px 0px 10px;
	font-weight: bold;
	border: 0px #666661 solid;
}


.niceform label
{
	font-size: 11px;
	font-weight: bold;
	color: #666;
}

.niceform label.opt { font-weight: normal; }
.niceform dl { clear: both; }

.niceform dt
{
	float: left;
	text-align: right;
	width: 90px;
	line-height: 25px;
	margin: 0 10px 10px 0;
}

.niceform dd
{
	float: left;
	width: 475px;
	line-height: 25px;
	margin: 0 0 10px 0;
}

/*Image reset properties */
.niceform img
{
	border: 0px;
	margin: 0px;
	clear: none;
}

.niceform .NFButtonRight { float: none; }

/* FORMS ERRORS */
.fieldWithErrors
{
	padding: 1px;
	background-color: red;
	display: table;
}

#errorExplanation
{
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin: auto;
	background-color: #f0f0f0;
}

#errorExplanation h2
{
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p
{
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li
{
	font-size: 12px;
	list-style: square;
}

/*Safari*/
select, input, textarea, button
{
	outline: none;
	resize: none;
}
