/****************************************************************/
/*   Design:   Tucano                                           */
/*--------------------------------------------------------------*/
/*   Aditional classes for PWNED                                */
/****************************************************************/

.content h1.network
{
	background: url(../images/icon_network.png) no-repeat;
	background-position: 914px 5px;
}

.content .networktitle { border: 0px #000 solid; }

.content h1.apptitle
{
	background: none;
}

.content .applet
{
	width: 800px;
	height: 600px;
	margin: 10px auto 10px auto;
	border: solid 5px rgb(175,175,175);
}

.appletbig
{
	width: 1024px;
	height: 768px;
	margin: 0px auto 0px auto;
	border: solid 5px rgb(175,175,175);
}

/* TAG cloud */
.tag1 { font-size: 1.0em; }
.tag2 { font-size: 1.2em; }
.tag3 { font-size: 1.4em; }
.tag4 { font-size: 1.6em; }
.tag5 { font-size: 1.8em; }
.tag6 { font-size: 2.0em; }
.tag7 { font-size: 2.2em; }
.tag8 { font-size: 2.4em; }
