/****************************************************************/
/*   Design:   Tucano                                           */
/*--------------------------------------------------------------*/
/*   Aditional classes for PWNED                                */
/****************************************************************/

.content h1.network
{
	background: url(../images/icon_celltitle_level1.gif) no-repeat;
	background-position: 914px 5px;
}

.content .networktitle { border: 0px #000 solid; }

.content h1.apptitle
{
	background: url(../images/icon_celltitle_level1.gif) no-repeat;
	background-position: 914px 5px;
}

.content .applet
{
	width: 800px;
	height: 600px;
	margin: 10px auto 10px auto;
	border: solid 5px rgb(175,175,175);
}

/* FORMS ERRORS */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin: auto;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}