<!-- LOGIN SUBCONTENT CELL -->
<div class="corner-subcontent-top"></div>                        
  <div class="subcontent-box">
    <h1 class="login">Login (TODO)</h1>
    <div class="loginform">
      <form method="post" action="index.html"> 
        <p><input type="hidden" name="rememberme" value="0" /></p>
        <fieldset>
        <p>
        <label for="username_4" class="top">User:</label><br />
        <input type="text" name="username_4" id="username_4" tabindex="1" class="field" value="" />
        </p>
        <p>
        <label for="password_4" class="top">Password:</label><br />
        <input type="password" name="password_4" id="password_4" tabindex="2" class="field" value="" />
        </p>
        <p>
        <input type="checkbox" name="checkbox_4" id="checkbox_4" class="checkbox" tabindex="3" size="1" value="" />
        <label for="checkbox_4" class="right">Remember me</label>
        </p>
        <p><input type="submit" name="cmdweblogin" class="button" value="LOGIN"  /></p>
        <p><a href="#" id="forgotpsswd_4">Password forgotten?</a></p>
        </fieldset>
      </form>
  </div>
</div>  
<div class="corner-subcontent-bottom"></div>