<!-- HELP Navigation item -->
<ul>
<li><a href="#">Help<!--[if IE 7]><!--></a><!--<![endif]-->
	<!--[if lte IE 6]><table><tr><td><![endif]-->
		<ul>
			<li><a href="#">TODO Overview</a></li>
			<li><a href="#">TODO Tutorial</a></li>
			<li><a href="#">TODO Help</a></li>
		</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>
</ul>