<!-- USER Navigation item -->
<ul>
<li><a href="#">User<!--[if IE 7]><!--></a><!--<![endif]-->
	<!--[if lte IE 6]><table><tr><td><![endif]-->
		<ul>
			<li><a href="#">TODO login</a></li>
			<li><a href="#">TODO register</a></li>
			<li><a href="#">TODO profile</a></li>
		</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>
</ul>