<!-- Navigation item -->
<ul>
<li><a href="#"><%= @network.name %><!--[if IE 7]><!--></a><!--<![endif]-->
	<!--[if lte IE 6]><table><tr><td><![endif]-->
		<ul>
		  <%= yield :toolbox %>
		</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>
</ul>