<!-- Navigation item -->
<ul>
<li><a href="#">Networks<!--[if IE 7]><!--></a><!--<![endif]-->
	<!--[if lte IE 6]><table><tr><td><![endif]-->
		<ul>
      <%= yield :menu_networks %>
		</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>
</ul>