<!-- NEWS SUBCONTENT CELL -->
<div class="corner-subcontent-top"></div>                        
<div class="subcontent-box">
  <h1 class="webtemplate">News</h1>                  
  <h2><%= link_to "Last 5 added", networks_url %></h2> 
  <ul>
  <!-- TODO, cache, move to controller, do something -->
  <% Network.find(:all).last(5).each do |n| %>
    <li><%= link_to n.name, n %></li>
  <% end %>
  </ul>
  <h2>Tag cloud</h2>
  <p>
  <% tag_cloud Network.tag_counts, %w{tag1 tag2 tag3 tag4 tag5 tag6 tag7 tag8} do |tag, css_class| %> 
	<%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
	<% end %>
	</p>
</div>  
<div class="corner-subcontent-bottom"></div>