<div class="corner-subcontent-top"></div>                        
<div class="subcontent-box">
  <h1 class="search">Search network</h1>
  <div class="searchform">
    <% form_tag search_path, :method => :get do %>
  		<fieldset>
  			<%= text_field_with_auto_complete :network, :name , 
  			    { :autocomplete => "off" }, 
  			    { :method => :get, :url => { 
  			        :controller => "/networks", 
  			        :action => :auto_complete_for_network_name} } %>
  			<br/>
  	  	<%= submit_tag "GO!", :class => "button", :name => nil %>
  		</fieldset>	
  	<% end %>
  </div>
</div>  
<div class="corner-subcontent-bottom"></div>